// Google font pairings by Lou Levit -- https://www.reliablepsd.com/ultimate-google-font-pairings/
// ---
// Pairing #1: modern|minimal|warm
$fs-pairing-1-header-font-family: 'Roboto Condensed', sans-serif;
$fs-pairing-1-header-font-size: 35px;
$fs-pairing-1-body-font-family: 'Cabin', sans-serif;
$fs-pairing-1-body-font-size: 16px;
// Pairing #2: modern|minimal
$fs-pairing-2-header-font-family: 'Raleway', sans-serif;
$fs-pairing-2-header-font-size: 44px;
$fs-pairing-2-body-font-family: 'Open Sans', sans-serif;
$fs-pairing-2-body-font-size: 15px;
// Pairing #3: striking|classic|warm
$fs-pairing-3-header-font-family: 'Playfair Display', serif;
$fs-pairing-3-header-font-size: 48px;
$fs-pairing-3-body-font-family: 'Source Sans Pro', sans-serif;
$fs-pairing-3-body-font-size: 16px;
// Pairing #4: modern|neutral
$fs-pairing-4-header-font-family: 'Roboto', sans-serif;
$fs-pairing-4-header-font-size: 48px;
$fs-pairing-4-body-font-family: 'Lora', serif;
$fs-pairing-4-body-font-size: 14px;
// Pairing #5: eccentric|classic|warm
$fs-pairing-5-header-font-family: 'Abril Fatface', cursive;
$fs-pairing-5-header-font-size: 48px;
$fs-pairing-5-body-font-family: 'Poppins', sans-serif;
$fs-pairing-5-body-font-size: 14px;
// Pairing #6: striking|eccentric|neutral
$fs-pairing-6-header-font-family: 'Ruda', sans-serif;
$fs-pairing-6-header-font-size: 48px;
$fs-pairing-6-body-font-family: 'Roboto Slab', serif;
$fs-pairing-6-body-font-size: 16px;
// Pairing #7: eccentric|classic|minimal
$fs-pairing-7-header-font-family: 'Cormorant Garamond', serif;
$fs-pairing-7-header-font-size: 55px;
$fs-pairing-7-body-font-family: 'Fira Sans', sans-serif;
$fs-pairing-7-body-font-size: 15px;
// Pairing #8: modern|neutral
$fs-pairing-8-header-font-family: 'PT Sans', sans-serif;
$fs-pairing-8-header-font-size: 46px;
$fs-pairing-8-body-font-family: 'Playfair Display', serif;
$fs-pairing-8-body-font-size: 16px;
// Pairing #9: modern|striking|minimal
$fs-pairing-9-header-font-family: 'Roboto', sans-serif;
$fs-pairing-9-header-font-size: 35px;
$fs-pairing-9-body-font-family: 'Droid Serif', serif;
$fs-pairing-9-body-font-size: 15px;
// Pairing #10: modern|minimal|neutral
$fs-pairing-10-header-font-family: 'Oxygen', sans-serif;
$fs-pairing-10-header-font-size: 46px;
$fs-pairing-10-body-font-family: 'Noto Serif', serif;
$fs-pairing-10-body-font-size: 16px;
// Pairing #11: modern|minimal|neutral|warm
$fs-pairing-11-header-font-family: 'Arvo', serif;
$fs-pairing-11-header-font-size: 44px;
$fs-pairing-11-body-font-family: 'Lato', sans-serif;
$fs-pairing-11-body-font-size: 16px;
// Pairing #12: classic|warm
$fs-pairing-12-header-font-family: 'Lato', sans-serif;
$fs-pairing-12-header-font-size: 46px;
$fs-pairing-12-body-font-family: 'Catamaran', sans-serif;
$fs-pairing-12-body-font-size: 16px;
// Pairing #13: striking|classic|warm
$fs-pairing-13-header-font-family: 'Merriweather', serif;
$fs-pairing-13-header-font-size: 46px;
$fs-pairing-13-body-font-family: 'Muli', sans-serif;
$fs-pairing-13-body-font-size: 16px;
// Pairing #14: modern|striking
$fs-pairing-14-header-font-family: 'PT Sans', sans-serif;
$fs-pairing-14-header-font-size: 47px;
$fs-pairing-14-body-font-family: 'Bitter', serif;
$fs-pairing-14-body-font-size: 16px;
// Pairing #15: striking|eccentric|warm
$fs-pairing-15-header-font-family: 'Cinzel', cursive;
$fs-pairing-15-header-font-size: 44px;
$fs-pairing-15-body-font-family: 'Fauna One', serif;
$fs-pairing-15-body-font-size: 14px;
// Pairing #16: modern|striking|eccentric|classic|minimal|neutral
$fs-pairing-16-header-font-family: 'Old Standard TT', serif;
$fs-pairing-16-header-font-size: 48px;
$fs-pairing-16-body-font-family: 'Rubik', sans-serif;
$fs-pairing-16-body-font-size: 15px;
// Pairing #17: modern|classic|minimal|neutral
$fs-pairing-17-header-font-family: 'Work Sans', sans-serif;
$fs-pairing-17-header-font-size: 45px;
$fs-pairing-17-body-font-family: 'Open Sans', sans-serif;
$fs-pairing-17-body-font-size: 15px;
// Pairing #18: modern|striking|eccentric|classic|warm
$fs-pairing-18-header-font-family: 'Questrial', sans-serif;
$fs-pairing-18-header-font-size: 40px;
$fs-pairing-18-body-font-family: 'Alegreya', serif;
$fs-pairing-18-body-font-size: 19px;
// Pairing #19: modern|striking|minimal
$fs-pairing-19-header-font-family: 'Oswald', sans-serif;
$fs-pairing-19-header-font-size: 48px;
$fs-pairing-19-body-font-family: 'Quattrocento', serif;
$fs-pairing-19-body-font-size: 16px;
// Pairing #20: eccentric|warm
$fs-pairing-20-header-font-family: 'Nunito', sans-serif;
$fs-pairing-20-header-font-size: 45px;
$fs-pairing-20-body-font-family: 'PT Sans', sans-serif;
$fs-pairing-20-body-font-size: 17px;
// Pairing #21: modern|striking|eccentric|minimal|neutral
$fs-pairing-21-header-font-family: 'Unica One', cursive;
$fs-pairing-21-header-font-size: 52px;
$fs-pairing-21-body-font-family: 'Crimson Text', serif;
$fs-pairing-21-body-font-size: 19px;
// Pairing #22: striking|eccentric|minimal
$fs-pairing-22-header-font-family: 'Julius Sans One', sans-serif;
$fs-pairing-22-header-font-size: 45px;
$fs-pairing-22-body-font-family: 'Monda', sans-serif;
$fs-pairing-22-body-font-size: 16px;
// Pairing #23: neutral|warm
$fs-pairing-23-header-font-family: 'Varela Round', sans-serif;
$fs-pairing-23-header-font-size: 48px;
$fs-pairing-23-body-font-family: 'Noto Serif', serif;
$fs-pairing-23-body-font-size: 15px;
// Pairing #24: modern|striking|eccentric|classic|warm
$fs-pairing-24-header-font-family: 'Vollkorn', serif;
$fs-pairing-24-header-font-size: 50px;
$fs-pairing-24-body-font-family: 'Raleway', sans-serif;
$fs-pairing-24-body-font-size: 15px;
// Pairing #25: minimal|warm
$fs-pairing-25-header-font-family: 'Ovo', serif;
$fs-pairing-25-header-font-size: 42px;
$fs-pairing-25-body-font-family: 'Quattrocento Sans', sans-serif;
$fs-pairing-25-body-font-size: 17px;
// Pairing #26: modern|striking|eccentric|warm
$fs-pairing-26-header-font-family: 'Permanent Marker', cursive;
$fs-pairing-26-header-font-size: 55px;
$fs-pairing-26-body-font-family: 'Overpass', sans-serif;
$fs-pairing-26-body-font-size: 17px;
// Pairing #27: striking|neutral
$fs-pairing-27-header-font-family: 'Ubuntu', sans-serif;
$fs-pairing-27-header-font-size: 48px;
$fs-pairing-27-body-font-family: 'Open Sans', sans-serif;
$fs-pairing-27-body-font-size: 15px;
// Pairing #28: neutral
$fs-pairing-28-header-font-family: 'Source Sans Pro', sans-serif;
$fs-pairing-28-header-font-size: 48px;
$fs-pairing-28-body-font-family: 'Sintony', sans-serif;
$fs-pairing-28-body-font-size: 14px;
// Pairing #29: modern|striking|eccentric|neutral|warm
$fs-pairing-29-header-font-family: 'Slabo 13px', serif;
$fs-pairing-29-header-font-size: 48px;
$fs-pairing-29-body-font-family: 'Lato', sans-serif;
$fs-pairing-29-body-font-size: 16px;
// Pairing #30: minimal|warm
$fs-pairing-30-header-font-family: 'Rufina', serif;
$fs-pairing-30-header-font-size: 48px;
$fs-pairing-30-body-font-family: 'PT Serif', serif;
$fs-pairing-30-body-font-size: 16px;
// Pairing #31: modern|eccentric|neutral
$fs-pairing-31-header-font-family: 'Dosis', sans-serif;
$fs-pairing-31-header-font-size: 48px;
$fs-pairing-31-body-font-family: 'Titillium Web', sans-serif;
$fs-pairing-31-body-font-size: 16px;
// Pairing #32: modern|eccentric|warm
$fs-pairing-32-header-font-family: 'Oswald', sans-serif;
$fs-pairing-32-header-font-size: 51px;
$fs-pairing-32-body-font-family: 'Esteban', serif;
$fs-pairing-32-body-font-size: 17px;
// Pairing #33: striking|eccentric|warm
$fs-pairing-33-header-font-family: 'Playfair Display', serif;
$fs-pairing-33-header-font-size: 48px;
$fs-pairing-33-body-font-family: 'Source Sans Pro', sans-serif;
$fs-pairing-33-body-font-size: 17px;
// Pairing #34: minimal|neutral
$fs-pairing-34-header-font-family: 'Libre Baskerville', serif;
$fs-pairing-34-header-font-size: 46px;
$fs-pairing-34-body-font-family: 'Nunito', sans-serif;
$fs-pairing-34-body-font-size: 16px;
// Pairing #35: modern|neutral
$fs-pairing-35-header-font-family: 'Catamaran', sans-serif;
$fs-pairing-35-header-font-size: 48px;
$fs-pairing-35-body-font-family: 'Merriweather Sans', sans-serif;
$fs-pairing-35-body-font-size: 15px;
// Pairing #36: striking|eccentric|warm
$fs-pairing-36-header-font-family: 'Bree Serif', serif;
$fs-pairing-36-header-font-size: 43px;
$fs-pairing-36-body-font-family: 'Alegreya', serif;
$fs-pairing-36-body-font-size: 17px;
// Pairing #37: striking|classic|neutral
$fs-pairing-37-header-font-family: 'Cardo', serif;
$fs-pairing-37-header-font-size: 48px;
$fs-pairing-37-body-font-family: 'Libre Franklin', sans-serif;
$fs-pairing-37-body-font-size: 14px;
// Pairing #38: modern|eccentric
$fs-pairing-38-header-font-family: 'Istok Web', sans-serif;
$fs-pairing-38-header-font-size: 48px;
$fs-pairing-38-body-font-family: 'Average', serif;
$fs-pairing-38-body-font-size: 18px;
// Pairing #39: minimal|neutral
$fs-pairing-39-header-font-family: 'Roboto', sans-serif;
$fs-pairing-39-header-font-size: 45px;
$fs-pairing-39-body-font-family: 'Libre Baskerville', serif;
$fs-pairing-39-body-font-size: 14px;
// Pairing #40: classic|warm
$fs-pairing-40-header-font-family: 'Goudy Bookletter 1911', serif;
$fs-pairing-40-header-font-size: 48px;
$fs-pairing-40-body-font-family: 'Average Sans', sans-serif;
$fs-pairing-40-body-font-size: 16px;
// Pairing #41: striking|eccentric
$fs-pairing-41-header-font-family: 'Alfa Slab One', cursive;
$fs-pairing-41-header-font-size: 48px;
$fs-pairing-41-body-font-family: 'Gentium Book Basic', serif;
$fs-pairing-41-body-font-size: 17px;
// Pairing #42: minimal|neutral
$fs-pairing-42-header-font-family: 'Raleway', sans-serif;
$fs-pairing-42-header-font-size: 45px;
$fs-pairing-42-body-font-family: 'Frank Ruhl Libre', sans-serif;
$fs-pairing-42-body-font-size: 16px;
// Pairing #43: eccentric|warm
$fs-pairing-43-header-font-family: 'Prata', serif;
$fs-pairing-43-header-font-size: 48px;
$fs-pairing-43-body-font-family: 'Lato', sans-serif;
$fs-pairing-43-body-font-size: 16px;
// Pairing #44: striking|eccentric|classic|warm
$fs-pairing-44-header-font-family: 'Shrikhand', cursive;
$fs-pairing-44-header-font-size: 48px;
$fs-pairing-44-body-font-family: 'Fanwood Text', serif;
$fs-pairing-44-body-font-size: 18px;
// Pairing #45: classic|neutral
$fs-pairing-45-header-font-family: 'Eczar', serif;
$fs-pairing-45-header-font-size: 43px;
$fs-pairing-45-body-font-family: 'Merriweather', serif;
$fs-pairing-45-body-font-size: 14px;
// Pairing #46: minimal|neutral
$fs-pairing-46-header-font-family: 'Chivo', sans-serif;
$fs-pairing-46-header-font-size: 42px;
$fs-pairing-46-body-font-family: 'Crimson Text', serif;
$fs-pairing-46-body-font-size: 18px;
// Pairing #47: classic|warm
$fs-pairing-47-header-font-family: 'Patua One', cursive;
$fs-pairing-47-header-font-size: 44px;
$fs-pairing-47-body-font-family: 'Maven Pro', sans-serif;
$fs-pairing-47-body-font-size: 16px;
// Pairing #48: modern|minimal
$fs-pairing-48-header-font-family: 'Rubik', sans-serif;
$fs-pairing-48-header-font-size: 45px;
$fs-pairing-48-body-font-family: 'Karla', sans-serif;
$fs-pairing-48-body-font-size: 16px;
// Pairing #49: striking|classic|warm
$fs-pairing-49-header-font-family: 'Neuton', serif;
$fs-pairing-49-header-font-size: 49px;
$fs-pairing-49-body-font-family: 'Work Sans', sans-serif;
$fs-pairing-49-body-font-size: 16px;
// Pairing #50: striking|eccentric|minimal|neutral
$fs-pairing-50-header-font-family: 'Anton', sans-serif;
$fs-pairing-50-header-font-size: 45px;
$fs-pairing-50-body-font-family: 'Signika', sans-serif;
$fs-pairing-50-body-font-size: 16px;