// Pairing #38: modern|eccentric -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Average|Istok+Web:400i');
$fs-pairing-38-header-font-family: 'Istok Web', sans-serif;
$fs-pairing-38-header-font-size: 48px;
$fs-pairing-38-body-font-family: 'Average', serif;
$fs-pairing-38-body-font-size: 18px;
$fs-header-font-family: $fs-pairing-38-header-font-family;
$fs-body-font-family: $fs-pairing-38-body-font-family;