// Pairing #17: modern|classic|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300');
$fs-pairing-17-header-font-family: 'Work Sans', sans-serif;
$fs-pairing-17-header-font-size: 45px;
$fs-pairing-17-body-font-family: 'Open Sans', sans-serif;
$fs-pairing-17-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-17-header-font-family;
$fs-body-font-family: $fs-pairing-17-body-font-family;