// Pairing #23: neutral|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round');
$fs-pairing-23-header-font-family: 'Varela Round', sans-serif;
$fs-pairing-23-header-font-size: 48px;
$fs-pairing-23-body-font-family: 'Noto Serif', serif;
$fs-pairing-23-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-23-header-font-family;
$fs-body-font-family: $fs-pairing-23-body-font-family;