// Pairing #5: eccentric|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300');
$fs-pairing-5-header-font-family: 'Abril Fatface', cursive;
$fs-pairing-5-header-font-size: 48px;
$fs-pairing-5-body-font-family: 'Poppins', sans-serif;
$fs-pairing-5-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-5-header-font-family;
$fs-body-font-family: $fs-pairing-5-body-font-family;