// Pairing #40: classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Average+Sans|Goudy+Bookletter+1911');
$fs-pairing-40-header-font-family: 'Goudy Bookletter 1911', serif;
$fs-pairing-40-header-font-size: 48px;
$fs-pairing-40-body-font-family: 'Average Sans', sans-serif;
$fs-pairing-40-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-40-header-font-family;
$fs-body-font-family: $fs-pairing-40-body-font-family;