// Pairing #6: striking|eccentric|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda');
$fs-pairing-6-header-font-family: 'Ruda', sans-serif;
$fs-pairing-6-header-font-size: 48px;
$fs-pairing-6-body-font-family: 'Roboto Slab', serif;
$fs-pairing-6-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-6-header-font-family;
$fs-body-font-family: $fs-pairing-6-body-font-family;