// Pairing #44: striking|eccentric|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text|Shrikhand');
$fs-pairing-44-header-font-family: 'Shrikhand', cursive;
$fs-pairing-44-header-font-size: 48px;
$fs-pairing-44-body-font-family: 'Fanwood Text', serif;
$fs-pairing-44-body-font-size: 18px;
$fs-header-font-family: $fs-pairing-44-header-font-family;
$fs-body-font-family: $fs-pairing-44-body-font-family;