// Pairing #36: striking|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Bree+Serif');
$fs-pairing-36-header-font-family: 'Bree Serif', serif;
$fs-pairing-36-header-font-size: 43px;
$fs-pairing-36-body-font-family: 'Alegreya', serif;
$fs-pairing-36-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-36-header-font-family;
$fs-body-font-family: $fs-pairing-36-body-font-family;