// Pairing #28: neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Sintony|Source+Sans+Pro:900');
$fs-pairing-28-header-font-family: 'Source Sans Pro', sans-serif;
$fs-pairing-28-header-font-size: 48px;
$fs-pairing-28-body-font-family: 'Sintony', sans-serif;
$fs-pairing-28-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-28-header-font-family;
$fs-body-font-family: $fs-pairing-28-body-font-family;