// Pairing #48: modern|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Karla|Rubik');
$fs-pairing-48-header-font-family: 'Rubik', sans-serif;
$fs-pairing-48-header-font-size: 45px;
$fs-pairing-48-body-font-family: 'Karla', sans-serif;
$fs-pairing-48-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-48-header-font-family;
$fs-body-font-family: $fs-pairing-48-body-font-family;