// Pairing #37: striking|classic|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Cardo|Libre+Franklin');
$fs-pairing-37-header-font-family: 'Cardo', serif;
$fs-pairing-37-header-font-size: 48px;
$fs-pairing-37-body-font-family: 'Libre Franklin', sans-serif;
$fs-pairing-37-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-37-header-font-family;
$fs-body-font-family: $fs-pairing-37-body-font-family;