// Pairing #26: modern|striking|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker');
$fs-pairing-26-header-font-family: 'Permanent Marker', cursive;
$fs-pairing-26-header-font-size: 55px;
$fs-pairing-26-body-font-family: 'Overpass', sans-serif;
$fs-pairing-26-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-26-header-font-family;
$fs-body-font-family: $fs-pairing-26-body-font-family;