// Pairing #46: minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Chivo:300|Crimson+Text');
$fs-pairing-46-header-font-family: 'Chivo', sans-serif;
$fs-pairing-46-header-font-size: 42px;
$fs-pairing-46-body-font-family: 'Crimson Text', serif;
$fs-pairing-46-body-font-size: 18px;
$fs-header-font-family: $fs-pairing-46-header-font-family;
$fs-body-font-family: $fs-pairing-46-body-font-family;