// Pairing #50: striking|eccentric|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Anton|Signika:300');
$fs-pairing-50-header-font-family: 'Anton', sans-serif;
$fs-pairing-50-header-font-size: 45px;
$fs-pairing-50-body-font-family: 'Signika', sans-serif;
$fs-pairing-50-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-50-header-font-family;
$fs-body-font-family: $fs-pairing-50-body-font-family;