// Pairing #33: striking|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro');
$fs-pairing-33-header-font-family: 'Playfair Display', serif;
$fs-pairing-33-header-font-size: 48px;
$fs-pairing-33-body-font-family: 'Source Sans Pro', sans-serif;
$fs-pairing-33-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-33-header-font-family;
$fs-body-font-family: $fs-pairing-33-body-font-family;