// Pairing #25: minimal|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Ovo|Quattrocento+Sans');
$fs-pairing-25-header-font-family: 'Ovo', serif;
$fs-pairing-25-header-font-size: 42px;
$fs-pairing-25-body-font-family: 'Quattrocento Sans', sans-serif;
$fs-pairing-25-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-25-header-font-family;
$fs-body-font-family: $fs-pairing-25-body-font-family;