// Pairing #42: minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Raleway:300');
$fs-pairing-42-header-font-family: 'Raleway', sans-serif;
$fs-pairing-42-header-font-size: 45px;
$fs-pairing-42-body-font-family: 'Frank Ruhl Libre', sans-serif;
$fs-pairing-42-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-42-header-font-family;
$fs-body-font-family: $fs-pairing-42-body-font-family;