// Pairing #32: modern|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Esteban|Oswald:300');
$fs-pairing-32-header-font-family: 'Oswald', sans-serif;
$fs-pairing-32-header-font-size: 51px;
$fs-pairing-32-body-font-family: 'Esteban', serif;
$fs-pairing-32-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-32-header-font-family;
$fs-body-font-family: $fs-pairing-32-body-font-family;