// Pairing #8: modern|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Playfair+Display');
$fs-pairing-8-header-font-family: 'PT Sans', sans-serif;
$fs-pairing-8-header-font-size: 46px;
$fs-pairing-8-body-font-family: 'Playfair Display', serif;
$fs-pairing-8-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-8-header-font-family;
$fs-body-font-family: $fs-pairing-8-body-font-family;