// Pairing #31: modern|eccentric|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+Web');
$fs-pairing-31-header-font-family: 'Dosis', sans-serif;
$fs-pairing-31-header-font-size: 48px;
$fs-pairing-31-body-font-family: 'Titillium Web', sans-serif;
$fs-pairing-31-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-31-header-font-family;
$fs-body-font-family: $fs-pairing-31-body-font-family;