// Pairing #22: striking|eccentric|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Monda');
$fs-pairing-22-header-font-family: 'Julius Sans One', sans-serif;
$fs-pairing-22-header-font-size: 45px;
$fs-pairing-22-body-font-family: 'Monda', sans-serif;
$fs-pairing-22-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-22-header-font-family;
$fs-body-font-family: $fs-pairing-22-body-font-family;