// Pairing #43: eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Lato|Prata');
$fs-pairing-43-header-font-family: 'Prata', serif;
$fs-pairing-43-header-font-size: 48px;
$fs-pairing-43-body-font-family: 'Lato', sans-serif;
$fs-pairing-43-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-43-header-font-family;
$fs-body-font-family: $fs-pairing-43-body-font-family;