// Pairing #15: striking|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Fauna+One');
$fs-pairing-15-header-font-family: 'Cinzel', cursive;
$fs-pairing-15-header-font-size: 44px;
$fs-pairing-15-body-font-family: 'Fauna One', serif;
$fs-pairing-15-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-15-header-font-family;
$fs-body-font-family: $fs-pairing-15-body-font-family;