// Pairing #11: modern|minimal|neutral|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Arvo|Lato');
$fs-pairing-11-header-font-family: 'Arvo', serif;
$fs-pairing-11-header-font-size: 44px;
$fs-pairing-11-body-font-family: 'Lato', sans-serif;
$fs-pairing-11-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-11-header-font-family;
$fs-body-font-family: $fs-pairing-11-body-font-family;