// Pairing #45: classic|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Eczar:600|Merriweather');
$fs-pairing-45-header-font-family: 'Eczar', serif;
$fs-pairing-45-header-font-size: 43px;
$fs-pairing-45-body-font-family: 'Merriweather', serif;
$fs-pairing-45-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-45-header-font-family;
$fs-body-font-family: $fs-pairing-45-body-font-family;