// Pairing #29: modern|striking|eccentric|neutral|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Lato|Slabo+13px');
$fs-pairing-29-header-font-family: 'Slabo 13px', serif;
$fs-pairing-29-header-font-size: 48px;
$fs-pairing-29-body-font-family: 'Lato', sans-serif;
$fs-pairing-29-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-29-header-font-family;
$fs-body-font-family: $fs-pairing-29-body-font-family;