// Pairing #49: striking|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Neuton|Work+Sans');
$fs-pairing-49-header-font-family: 'Neuton', serif;
$fs-pairing-49-header-font-size: 49px;
$fs-pairing-49-body-font-family: 'Work Sans', sans-serif;
$fs-pairing-49-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-49-header-font-family;
$fs-body-font-family: $fs-pairing-49-body-font-family;