// Pairing #12: classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Catamaran|Lato:400i');
$fs-pairing-12-header-font-family: 'Lato', sans-serif;
$fs-pairing-12-header-font-size: 46px;
$fs-pairing-12-body-font-family: 'Catamaran', sans-serif;
$fs-pairing-12-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-12-header-font-family;
$fs-body-font-family: $fs-pairing-12-body-font-family;