// Pairing #16: modern|striking|eccentric|classic|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400i|Rubik');
$fs-pairing-16-header-font-family: 'Old Standard TT', serif;
$fs-pairing-16-header-font-size: 48px;
$fs-pairing-16-body-font-family: 'Rubik', sans-serif;
$fs-pairing-16-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-16-header-font-family;
$fs-body-font-family: $fs-pairing-16-body-font-family;