// Pairing #14: modern|striking -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Bitter|PT+Sans:400i');
$fs-pairing-14-header-font-family: 'PT Sans', sans-serif;
$fs-pairing-14-header-font-size: 47px;
$fs-pairing-14-body-font-family: 'Bitter', serif;
$fs-pairing-14-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-14-header-font-family;
$fs-body-font-family: $fs-pairing-14-body-font-family;