// Pairing #24: modern|striking|eccentric|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Raleway:500|Vollkorn:400i');
$fs-pairing-24-header-font-family: 'Vollkorn', serif;
$fs-pairing-24-header-font-size: 50px;
$fs-pairing-24-body-font-family: 'Raleway', sans-serif;
$fs-pairing-24-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-24-header-font-family;
$fs-body-font-family: $fs-pairing-24-body-font-family;