// Pairing #18: modern|striking|eccentric|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Questrial');
$fs-pairing-18-header-font-family: 'Questrial', sans-serif;
$fs-pairing-18-header-font-size: 40px;
$fs-pairing-18-body-font-family: 'Alegreya', serif;
$fs-pairing-18-body-font-size: 19px;
$fs-header-font-family: $fs-pairing-18-header-font-family;
$fs-body-font-family: $fs-pairing-18-body-font-family;