// Pairing #30: minimal|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Rufina:700');
$fs-pairing-30-header-font-family: 'Rufina', serif;
$fs-pairing-30-header-font-size: 48px;
$fs-pairing-30-body-font-family: 'PT Serif', serif;
$fs-pairing-30-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-30-header-font-family;
$fs-body-font-family: $fs-pairing-30-body-font-family;