// Pairing #7: eccentric|classic|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Fira+Sans');
$fs-pairing-7-header-font-family: 'Cormorant Garamond', serif;
$fs-pairing-7-header-font-size: 55px;
$fs-pairing-7-body-font-family: 'Fira Sans', sans-serif;
$fs-pairing-7-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-7-header-font-family;
$fs-body-font-family: $fs-pairing-7-body-font-family;