// Pairing #1: modern|minimal|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700');
$fs-pairing-1-header-font-family: 'Roboto Condensed', sans-serif;
$fs-pairing-1-header-font-size: 35px;
$fs-pairing-1-body-font-family: 'Cabin', sans-serif;
$fs-pairing-1-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-1-header-font-family;
$fs-body-font-family: $fs-pairing-1-body-font-family;

// Pairing #2: modern|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400');
$fs-pairing-2-header-font-family: 'Raleway', sans-serif;
$fs-pairing-2-header-font-size: 44px;
$fs-pairing-2-body-font-family: 'Open Sans', sans-serif;
$fs-pairing-2-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-2-header-font-family;
$fs-body-font-family: $fs-pairing-2-body-font-family;

// Pairing #3: striking|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Source+Sans+Pro');
$fs-pairing-3-header-font-family: 'Playfair Display', serif;
$fs-pairing-3-header-font-size: 48px;
$fs-pairing-3-body-font-family: 'Source Sans Pro', sans-serif;
$fs-pairing-3-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-3-header-font-family;
$fs-body-font-family: $fs-pairing-3-body-font-family;

// Pairing #4: modern|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto:400,700');
$fs-pairing-4-header-font-family: 'Roboto', sans-serif;
$fs-pairing-4-header-font-size: 48px;
$fs-pairing-4-body-font-family: 'Lora', serif;
$fs-pairing-4-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-4-header-font-family;
$fs-body-font-family: $fs-pairing-4-body-font-family;

// Pairing #5: eccentric|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins:300');
$fs-pairing-5-header-font-family: 'Abril Fatface', cursive;
$fs-pairing-5-header-font-size: 48px;
$fs-pairing-5-body-font-family: 'Poppins', sans-serif;
$fs-pairing-5-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-5-header-font-family;
$fs-body-font-family: $fs-pairing-5-body-font-family;

// Pairing #6: striking|eccentric|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda');
$fs-pairing-6-header-font-family: 'Ruda', sans-serif;
$fs-pairing-6-header-font-size: 48px;
$fs-pairing-6-body-font-family: 'Roboto Slab', serif;
$fs-pairing-6-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-6-header-font-family;
$fs-body-font-family: $fs-pairing-6-body-font-family;

// Pairing #7: eccentric|classic|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Fira+Sans');
$fs-pairing-7-header-font-family: 'Cormorant Garamond', serif;
$fs-pairing-7-header-font-size: 55px;
$fs-pairing-7-body-font-family: 'Fira Sans', sans-serif;
$fs-pairing-7-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-7-header-font-family;
$fs-body-font-family: $fs-pairing-7-body-font-family;

// Pairing #8: modern|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Playfair+Display');
$fs-pairing-8-header-font-family: 'PT Sans', sans-serif;
$fs-pairing-8-header-font-size: 46px;
$fs-pairing-8-body-font-family: 'Playfair Display', serif;
$fs-pairing-8-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-8-header-font-family;
$fs-body-font-family: $fs-pairing-8-body-font-family;

// Pairing #9: modern|striking|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Roboto:300');
$fs-pairing-9-header-font-family: 'Roboto', sans-serif;
$fs-pairing-9-header-font-size: 35px;
$fs-pairing-9-body-font-family: 'Droid Serif', serif;
$fs-pairing-9-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-9-header-font-family;
$fs-body-font-family: $fs-pairing-9-body-font-family;

// Pairing #10: modern|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen:300');
$fs-pairing-10-header-font-family: 'Oxygen', sans-serif;
$fs-pairing-10-header-font-size: 46px;
$fs-pairing-10-body-font-family: 'Noto Serif', serif;
$fs-pairing-10-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-10-header-font-family;
$fs-body-font-family: $fs-pairing-10-body-font-family;

// Pairing #11: modern|minimal|neutral|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Arvo|Lato');
$fs-pairing-11-header-font-family: 'Arvo', serif;
$fs-pairing-11-header-font-size: 44px;
$fs-pairing-11-body-font-family: 'Lato', sans-serif;
$fs-pairing-11-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-11-header-font-family;
$fs-body-font-family: $fs-pairing-11-body-font-family;

// Pairing #12: classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Catamaran|Lato:400i');
$fs-pairing-12-header-font-family: 'Lato', sans-serif;
$fs-pairing-12-header-font-size: 46px;
$fs-pairing-12-body-font-family: 'Catamaran', sans-serif;
$fs-pairing-12-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-12-header-font-family;
$fs-body-font-family: $fs-pairing-12-body-font-family;

// Pairing #13: striking|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Muli:300');
$fs-pairing-13-header-font-family: 'Merriweather', serif;
$fs-pairing-13-header-font-size: 46px;
$fs-pairing-13-body-font-family: 'Muli', sans-serif;
$fs-pairing-13-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-13-header-font-family;
$fs-body-font-family: $fs-pairing-13-body-font-family;

// Pairing #14: modern|striking -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Bitter|PT+Sans:400i');
$fs-pairing-14-header-font-family: 'PT Sans', sans-serif;
$fs-pairing-14-header-font-size: 47px;
$fs-pairing-14-body-font-family: 'Bitter', serif;
$fs-pairing-14-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-14-header-font-family;
$fs-body-font-family: $fs-pairing-14-body-font-family;

// Pairing #15: striking|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Fauna+One');
$fs-pairing-15-header-font-family: 'Cinzel', cursive;
$fs-pairing-15-header-font-size: 44px;
$fs-pairing-15-body-font-family: 'Fauna One', serif;
$fs-pairing-15-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-15-header-font-family;
$fs-body-font-family: $fs-pairing-15-body-font-family;

// Pairing #16: modern|striking|eccentric|classic|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400i|Rubik');
$fs-pairing-16-header-font-family: 'Old Standard TT', serif;
$fs-pairing-16-header-font-size: 48px;
$fs-pairing-16-body-font-family: 'Rubik', sans-serif;
$fs-pairing-16-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-16-header-font-family;
$fs-body-font-family: $fs-pairing-16-body-font-family;

// Pairing #17: modern|classic|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300');
$fs-pairing-17-header-font-family: 'Work Sans', sans-serif;
$fs-pairing-17-header-font-size: 45px;
$fs-pairing-17-body-font-family: 'Open Sans', sans-serif;
$fs-pairing-17-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-17-header-font-family;
$fs-body-font-family: $fs-pairing-17-body-font-family;

// Pairing #18: modern|striking|eccentric|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Questrial');
$fs-pairing-18-header-font-family: 'Questrial', sans-serif;
$fs-pairing-18-header-font-size: 40px;
$fs-pairing-18-body-font-family: 'Alegreya', serif;
$fs-pairing-18-body-font-size: 19px;
$fs-header-font-family: $fs-pairing-18-header-font-family;
$fs-body-font-family: $fs-pairing-18-body-font-family;

// Pairing #19: modern|striking|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento');
$fs-pairing-19-header-font-family: 'Oswald', sans-serif;
$fs-pairing-19-header-font-size: 48px;
$fs-pairing-19-body-font-family: 'Quattrocento', serif;
$fs-pairing-19-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-19-header-font-family;
$fs-body-font-family: $fs-pairing-19-body-font-family;

// Pairing #20: eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Nunito:300|PT+Sans');
$fs-pairing-20-header-font-family: 'Nunito', sans-serif;
$fs-pairing-20-header-font-size: 45px;
$fs-pairing-20-body-font-family: 'PT Sans', sans-serif;
$fs-pairing-20-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-20-header-font-family;
$fs-body-font-family: $fs-pairing-20-body-font-family;

// Pairing #21: modern|striking|eccentric|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Unica+One');
$fs-pairing-21-header-font-family: 'Unica One', cursive;
$fs-pairing-21-header-font-size: 52px;
$fs-pairing-21-body-font-family: 'Crimson Text', serif;
$fs-pairing-21-body-font-size: 19px;
$fs-header-font-family: $fs-pairing-21-header-font-family;
$fs-body-font-family: $fs-pairing-21-body-font-family;

// Pairing #22: striking|eccentric|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Monda');
$fs-pairing-22-header-font-family: 'Julius Sans One', sans-serif;
$fs-pairing-22-header-font-size: 45px;
$fs-pairing-22-body-font-family: 'Monda', sans-serif;
$fs-pairing-22-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-22-header-font-family;
$fs-body-font-family: $fs-pairing-22-body-font-family;

// Pairing #23: neutral|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Varela+Round');
$fs-pairing-23-header-font-family: 'Varela Round', sans-serif;
$fs-pairing-23-header-font-size: 48px;
$fs-pairing-23-body-font-family: 'Noto Serif', serif;
$fs-pairing-23-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-23-header-font-family;
$fs-body-font-family: $fs-pairing-23-body-font-family;

// Pairing #24: modern|striking|eccentric|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Raleway:500|Vollkorn:400i');
$fs-pairing-24-header-font-family: 'Vollkorn', serif;
$fs-pairing-24-header-font-size: 50px;
$fs-pairing-24-body-font-family: 'Raleway', sans-serif;
$fs-pairing-24-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-24-header-font-family;
$fs-body-font-family: $fs-pairing-24-body-font-family;

// Pairing #25: minimal|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Ovo|Quattrocento+Sans');
$fs-pairing-25-header-font-family: 'Ovo', serif;
$fs-pairing-25-header-font-size: 42px;
$fs-pairing-25-body-font-family: 'Quattrocento Sans', sans-serif;
$fs-pairing-25-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-25-header-font-family;
$fs-body-font-family: $fs-pairing-25-body-font-family;

// Pairing #26: modern|striking|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker');
$fs-pairing-26-header-font-family: 'Permanent Marker', cursive;
$fs-pairing-26-header-font-size: 55px;
$fs-pairing-26-body-font-family: 'Overpass', sans-serif;
$fs-pairing-26-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-26-header-font-family;
$fs-body-font-family: $fs-pairing-26-body-font-family;

// Pairing #27: striking|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:700');
$fs-pairing-27-header-font-family: 'Ubuntu', sans-serif;
$fs-pairing-27-header-font-size: 48px;
$fs-pairing-27-body-font-family: 'Open Sans', sans-serif;
$fs-pairing-27-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-27-header-font-family;
$fs-body-font-family: $fs-pairing-27-body-font-family;

// Pairing #28: neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Sintony|Source+Sans+Pro:900');
$fs-pairing-28-header-font-family: 'Source Sans Pro', sans-serif;
$fs-pairing-28-header-font-size: 48px;
$fs-pairing-28-body-font-family: 'Sintony', sans-serif;
$fs-pairing-28-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-28-header-font-family;
$fs-body-font-family: $fs-pairing-28-body-font-family;

// Pairing #29: modern|striking|eccentric|neutral|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Lato|Slabo+13px');
$fs-pairing-29-header-font-family: 'Slabo 13px', serif;
$fs-pairing-29-header-font-size: 48px;
$fs-pairing-29-body-font-family: 'Lato', sans-serif;
$fs-pairing-29-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-29-header-font-family;
$fs-body-font-family: $fs-pairing-29-body-font-family;

// Pairing #30: minimal|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Rufina:700');
$fs-pairing-30-header-font-family: 'Rufina', serif;
$fs-pairing-30-header-font-size: 48px;
$fs-pairing-30-body-font-family: 'PT Serif', serif;
$fs-pairing-30-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-30-header-font-family;
$fs-body-font-family: $fs-pairing-30-body-font-family;

// Pairing #31: modern|eccentric|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+Web');
$fs-pairing-31-header-font-family: 'Dosis', sans-serif;
$fs-pairing-31-header-font-size: 48px;
$fs-pairing-31-body-font-family: 'Titillium Web', sans-serif;
$fs-pairing-31-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-31-header-font-family;
$fs-body-font-family: $fs-pairing-31-body-font-family;

// Pairing #32: modern|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Esteban|Oswald:300');
$fs-pairing-32-header-font-family: 'Oswald', sans-serif;
$fs-pairing-32-header-font-size: 51px;
$fs-pairing-32-body-font-family: 'Esteban', serif;
$fs-pairing-32-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-32-header-font-family;
$fs-body-font-family: $fs-pairing-32-body-font-family;

// Pairing #33: striking|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Source+Sans+Pro');
$fs-pairing-33-header-font-family: 'Playfair Display', serif;
$fs-pairing-33-header-font-size: 48px;
$fs-pairing-33-body-font-family: 'Source Sans Pro', sans-serif;
$fs-pairing-33-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-33-header-font-family;
$fs-body-font-family: $fs-pairing-33-body-font-family;

// Pairing #34: minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Nunito');
$fs-pairing-34-header-font-family: 'Libre Baskerville', serif;
$fs-pairing-34-header-font-size: 46px;
$fs-pairing-34-body-font-family: 'Nunito', sans-serif;
$fs-pairing-34-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-34-header-font-family;
$fs-body-font-family: $fs-pairing-34-body-font-family;

// Pairing #35: modern|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Catamaran:600|Merriweather+Sans:300');
$fs-pairing-35-header-font-family: 'Catamaran', sans-serif;
$fs-pairing-35-header-font-size: 48px;
$fs-pairing-35-body-font-family: 'Merriweather Sans', sans-serif;
$fs-pairing-35-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-35-header-font-family;
$fs-body-font-family: $fs-pairing-35-body-font-family;

// Pairing #36: striking|eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Alegreya|Bree+Serif');
$fs-pairing-36-header-font-family: 'Bree Serif', serif;
$fs-pairing-36-header-font-size: 43px;
$fs-pairing-36-body-font-family: 'Alegreya', serif;
$fs-pairing-36-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-36-header-font-family;
$fs-body-font-family: $fs-pairing-36-body-font-family;

// Pairing #37: striking|classic|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Cardo|Libre+Franklin');
$fs-pairing-37-header-font-family: 'Cardo', serif;
$fs-pairing-37-header-font-size: 48px;
$fs-pairing-37-body-font-family: 'Libre Franklin', sans-serif;
$fs-pairing-37-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-37-header-font-family;
$fs-body-font-family: $fs-pairing-37-body-font-family;

// Pairing #38: modern|eccentric -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Average|Istok+Web:400i');
$fs-pairing-38-header-font-family: 'Istok Web', sans-serif;
$fs-pairing-38-header-font-size: 48px;
$fs-pairing-38-body-font-family: 'Average', serif;
$fs-pairing-38-body-font-size: 18px;
$fs-header-font-family: $fs-pairing-38-header-font-family;
$fs-body-font-family: $fs-pairing-38-body-font-family;

// Pairing #39: minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto:500');
$fs-pairing-39-header-font-family: 'Roboto', sans-serif;
$fs-pairing-39-header-font-size: 45px;
$fs-pairing-39-body-font-family: 'Libre Baskerville', serif;
$fs-pairing-39-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-39-header-font-family;
$fs-body-font-family: $fs-pairing-39-body-font-family;

// Pairing #40: classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Average+Sans|Goudy+Bookletter+1911');
$fs-pairing-40-header-font-family: 'Goudy Bookletter 1911', serif;
$fs-pairing-40-header-font-size: 48px;
$fs-pairing-40-body-font-family: 'Average Sans', sans-serif;
$fs-pairing-40-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-40-header-font-family;
$fs-body-font-family: $fs-pairing-40-body-font-family;

// Pairing #41: striking|eccentric -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gentium+Book+Basic');
$fs-pairing-41-header-font-family: 'Alfa Slab One', cursive;
$fs-pairing-41-header-font-size: 48px;
$fs-pairing-41-body-font-family: 'Gentium Book Basic', serif;
$fs-pairing-41-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-41-header-font-family;
$fs-body-font-family: $fs-pairing-41-body-font-family;

// Pairing #42: minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Raleway:300');
$fs-pairing-42-header-font-family: 'Raleway', sans-serif;
$fs-pairing-42-header-font-size: 45px;
$fs-pairing-42-body-font-family: 'Frank Ruhl Libre', sans-serif;
$fs-pairing-42-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-42-header-font-family;
$fs-body-font-family: $fs-pairing-42-body-font-family;

// Pairing #43: eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Lato|Prata');
$fs-pairing-43-header-font-family: 'Prata', serif;
$fs-pairing-43-header-font-size: 48px;
$fs-pairing-43-body-font-family: 'Lato', sans-serif;
$fs-pairing-43-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-43-header-font-family;
$fs-body-font-family: $fs-pairing-43-body-font-family;

// Pairing #44: striking|eccentric|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text|Shrikhand');
$fs-pairing-44-header-font-family: 'Shrikhand', cursive;
$fs-pairing-44-header-font-size: 48px;
$fs-pairing-44-body-font-family: 'Fanwood Text', serif;
$fs-pairing-44-body-font-size: 18px;
$fs-header-font-family: $fs-pairing-44-header-font-family;
$fs-body-font-family: $fs-pairing-44-body-font-family;

// Pairing #45: classic|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Eczar:600|Merriweather');
$fs-pairing-45-header-font-family: 'Eczar', serif;
$fs-pairing-45-header-font-size: 43px;
$fs-pairing-45-body-font-family: 'Merriweather', serif;
$fs-pairing-45-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-45-header-font-family;
$fs-body-font-family: $fs-pairing-45-body-font-family;

// Pairing #46: minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Chivo:300|Crimson+Text');
$fs-pairing-46-header-font-family: 'Chivo', sans-serif;
$fs-pairing-46-header-font-size: 42px;
$fs-pairing-46-body-font-family: 'Crimson Text', serif;
$fs-pairing-46-body-font-size: 18px;
$fs-header-font-family: $fs-pairing-46-header-font-family;
$fs-body-font-family: $fs-pairing-46-body-font-family;

// Pairing #47: classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Patua+One');
$fs-pairing-47-header-font-family: 'Patua One', cursive;
$fs-pairing-47-header-font-size: 44px;
$fs-pairing-47-body-font-family: 'Maven Pro', sans-serif;
$fs-pairing-47-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-47-header-font-family;
$fs-body-font-family: $fs-pairing-47-body-font-family;

// Pairing #48: modern|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Karla|Rubik');
$fs-pairing-48-header-font-family: 'Rubik', sans-serif;
$fs-pairing-48-header-font-size: 45px;
$fs-pairing-48-body-font-family: 'Karla', sans-serif;
$fs-pairing-48-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-48-header-font-family;
$fs-body-font-family: $fs-pairing-48-body-font-family;

// Pairing #49: striking|classic|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Neuton|Work+Sans');
$fs-pairing-49-header-font-family: 'Neuton', serif;
$fs-pairing-49-header-font-size: 49px;
$fs-pairing-49-body-font-family: 'Work Sans', sans-serif;
$fs-pairing-49-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-49-header-font-family;
$fs-body-font-family: $fs-pairing-49-body-font-family;

// Pairing #50: striking|eccentric|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Anton|Signika:300');
$fs-pairing-50-header-font-family: 'Anton', sans-serif;
$fs-pairing-50-header-font-size: 45px;
$fs-pairing-50-body-font-family: 'Signika', sans-serif;
$fs-pairing-50-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-50-header-font-family;
$fs-body-font-family: $fs-pairing-50-body-font-family;
