// Pairing #4: modern|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto:400,700');
$fs-pairing-4-header-font-family: 'Roboto', sans-serif;
$fs-pairing-4-header-font-size: 48px;
$fs-pairing-4-body-font-family: 'Lora', serif;
$fs-pairing-4-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-4-header-font-family;
$fs-body-font-family: $fs-pairing-4-body-font-family;