// Pairing #19: modern|striking|minimal -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento');
$fs-pairing-19-header-font-family: 'Oswald', sans-serif;
$fs-pairing-19-header-font-size: 48px;
$fs-pairing-19-body-font-family: 'Quattrocento', serif;
$fs-pairing-19-body-font-size: 16px;
$fs-header-font-family: $fs-pairing-19-header-font-family;
$fs-body-font-family: $fs-pairing-19-body-font-family;