// Pairing #35: modern|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Catamaran:600|Merriweather+Sans:300');
$fs-pairing-35-header-font-family: 'Catamaran', sans-serif;
$fs-pairing-35-header-font-size: 48px;
$fs-pairing-35-body-font-family: 'Merriweather Sans', sans-serif;
$fs-pairing-35-body-font-size: 15px;
$fs-header-font-family: $fs-pairing-35-header-font-family;
$fs-body-font-family: $fs-pairing-35-body-font-family;