// Pairing #20: eccentric|warm -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Nunito:300|PT+Sans');
$fs-pairing-20-header-font-family: 'Nunito', sans-serif;
$fs-pairing-20-header-font-size: 45px;
$fs-pairing-20-body-font-family: 'PT Sans', sans-serif;
$fs-pairing-20-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-20-header-font-family;
$fs-body-font-family: $fs-pairing-20-body-font-family;