// Pairing #21: modern|striking|eccentric|minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Unica+One');
$fs-pairing-21-header-font-family: 'Unica One', cursive;
$fs-pairing-21-header-font-size: 52px;
$fs-pairing-21-body-font-family: 'Crimson Text', serif;
$fs-pairing-21-body-font-size: 19px;
$fs-header-font-family: $fs-pairing-21-header-font-family;
$fs-body-font-family: $fs-pairing-21-body-font-family;