// Pairing #39: minimal|neutral -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto:500');
$fs-pairing-39-header-font-family: 'Roboto', sans-serif;
$fs-pairing-39-header-font-size: 45px;
$fs-pairing-39-body-font-family: 'Libre Baskerville', serif;
$fs-pairing-39-body-font-size: 14px;
$fs-header-font-family: $fs-pairing-39-header-font-family;
$fs-body-font-family: $fs-pairing-39-body-font-family;