// Pairing #41: striking|eccentric -- By Lou Levit: https://www.reliablepsd.com/ultimate-google-font-pairings/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gentium+Book+Basic');
$fs-pairing-41-header-font-family: 'Alfa Slab One', cursive;
$fs-pairing-41-header-font-size: 48px;
$fs-pairing-41-body-font-family: 'Gentium Book Basic', serif;
$fs-pairing-41-body-font-size: 17px;
$fs-header-font-family: $fs-pairing-41-header-font-family;
$fs-body-font-family: $fs-pairing-41-body-font-family;