/*
 * This is the partial that defines the theme's variables. These override the ones Foundation provides.
 * If you want to customize this theme, place your custom variables in _customvars.scss.
 */

/// Colors used for buttons, callouts, links, etc. There must always be a color called `primary`.
/// @type Map
$foundation-palette: (
  primary: #009900,
  secondary: #222222,
  success: #aa763a,
  warning: #3300ff,
  alert: #aacc22,
) !default;

/// Global value used for all elements that have a border radius.
/// @type Number
$global-radius: .2rem !default;