.zf-code-reveal {
    position: relative;
}

.code-reveal-button {
    position: absolute;
    top: 0;
    right: 0;
}

h1.foundswatch {
    font-size: 48;
    margin-top: 4rem;
}

h2.foundswatch {
    font-size: 40;
    margin-top: 2rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #b0b0b0;
}

h3.foundswatch {
    font-size: 31;
    margin-top: 1rem;
}

h4.foundswatch {
    font-size: 25;
    margin-top: .5rem;
}

#codeRevealHtmlTarget::selection { 
    background: #3975b1; 
}