// ---- Typography ------------------------------------------------------------

h1.foundswatch {
    font-size: 48px;
    margin-top: 4rem;
}

h2.foundswatch {
    font-size: 40px;
    margin-top: 2rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #b0b0b0;
}

h3.foundswatch {
    font-size: 31px;
    margin-top: 1rem;
}

h4.foundswatch {
    font-size: 25px;
    margin-top: .5rem;
}

// ---- Top Bar ---------------------------------------------------------------

.fs-brand {
    margin-right: 1rem;
}

.top-bar ul.menu li {

    &.menu-text a {
        padding: 0;
    }
}

.top-bar ul.menu li a {
    padding: .82rem .5rem;
}

// ---- Hero Section ----------------------------------------------------------

.fs-hero {
    color: white;
    background-color: #1779ba; 
    padding: 3rem 0;
}

// ---- Code Reveal -----------------------------------------------------------

.zf-code-reveal {
    position: relative;
}

.code-reveal-button {
    position: absolute;
    top: 0;
    right: 0;
}

#codeRevealHtmlTarget::selection { 
    background: #3975b1; 
}

// ---- Documentation Links ---------------------------------------------------

.fs-doc {
    cursor: pointer;
    padding: .4rem .5rem;
}

// ---- Buttons ----

.fs-download-button {
    margin-right: 0;
}

.fs-download-dropdown {
    margin-left: 0;
}

// ---- Footer ----

.fs-footer {
    font-size: 80%;
    padding-top: 3.5rem;
}