.zf-code-reveal {
    position: relative;
}

.code-reveal-button {
    position: absolute;
    top: 0;
    right: 0;
}

h1 {
    margin-top: 4rem;
}

h2 {
    margin-top: 2rem;
}

h3 {
    margin-top: 0.5rem;
}