/*
 * This is the partial that defines the theme's styles. 
 * These override the ones Foundation provides.
 */
//  Foundation for Sites Styles
//  ---------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17. Dropdown
//  18. Dropdown Menu
//  19. Flexbox Utilities
//  20. Forms
//  21. Label
//  22. Media Object
//  23. Menu
//  24. Meter
//  25. Off-canvas
//  26. Orbit
//  27. Pagination
//  28. Progress Bar
//  29. Prototype Arrow
//  30. Prototype Border-Box
//  31. Prototype Border-None
//  32. Prototype Bordered
//  33. Prototype Display
//  34. Prototype Font-Styling
//  35. Prototype List-Style-Type
//  36. Prototype Overflow
//  37. Prototype Position
//  38. Prototype Rounded
//  39. Prototype Separator
//  40. Prototype Shadow
//  41. Prototype Sizing
//  42. Prototype Spacing
//  43. Prototype Text-Decoration
//  44. Prototype Text-Transformation
//  45. Prototype Text-Utilities
//  46. Responsive Embed
//  47. Reveal
//  48. Slider
//  49. Switch
//  50. Table
//  51. Tabs
//  52. Thumbnail
//  53. Title Bar
//  54. Tooltip
//  55. Top Bar
//  56. Xy Grid

// 1. Global
// ---------

// 2. Breakpoints
// --------------

// 3. The Grid
// -----------

// 4. Base Typography
// ------------------

// 5. Typography Helpers
// ---------------------

// 6. Abide
// --------

// 7. Accordion
// ------------

// 8. Accordion Menu
// -----------------

// 9. Badge
// --------

.badge {
    font-weight: 600;
}

.badge.warning {
    color: $black;
}

// 10. Breadcrumbs
// ---------------

.breadcrumbs {
    padding: 1rem;
    background-color: $light-gray;
    border-radius: $global-radius;

    li {
        text-transform: none;
        font-size: 1rem;
        color: $dark-gray;
    }
}

// 11. Button
// ----------

.button.warning {
    color: $black;
}

.button.warning[disabled]:not(.hollow):not(.clear) {
    color: $black;
}

// 12. Button Group
// ----------------

// 13. Callout
// -----------

// 14. Card
// --------

// 15. Close Button
// ----------------

// 16. Drilldown
// -------------

// 17. Dropdown
// ------------

// 18. Dropdown Menu
// -----------------

.dropdown.menu .submenu {
    border-radius: $global-radius;
    
    .is-submenu-item:hover {
        background-color: rgb(248, 249, 250);
    }
}

// 19. Flexbox Utilities
// ---------------------

// 20. Forms
// ---------

// 21. Label
// ---------

.label {
    font-weight: 600;
}

.label.warning {
    color: $black;
}

// 22. Media Object
// ----------------

// 23. Menu
// --------

// 24. Meter
// ---------

// 25. Off-canvas
// --------------

// 26. Orbit
// ---------

// 27. Pagination
// --------------

// 28. Progress Bar
// ----------------

.progress.warning .progress-meter-text {
    color: $black;
}

// 29. Prototype Arrow
// -------------------

// 30. Prototype Border-Box
// ------------------------

// 31. Prototype Border-None
// -------------------------

// 32. Prototype Bordered
// ----------------------

// 33. Prototype Display
// ---------------------

// 34. Prototype Font-Styling
// --------------------------

// 35. Prototype List-Style-Type
// -----------------------------

// 36. Prototype Overflow
// ----------------------

// 37. Prototype Position
// ----------------------

// 38. Prototype Rounded
// ---------------------

// 39. Prototype Separator
// -----------------------

// 40. Prototype Shadow
// --------------------

// 41. Prototype Sizing
// --------------------

// 42. Prototype Spacing
// ---------------------

// 43. Prototype Text-Decoration
// -----------------------------

// 44. Prototype Text-Transformation
// ---------------------------------

// 45. Prototype Text-Utilities
// ----------------------------

// 46. Responsive Embed
// --------------------

// 47. Reveal (Modal)
// ------------------

// 48. Slider
// ----------

// 49. Switch
// ----------

// 50. Table
// ---------

table tr th {
    text-align: left;
}

// 51. Tabs
// --------

// 52. Thumbnail
// -------------

// 53. Title Bar
// -------------

// 54. Tooltip
// -----------

// 55. Top Bar
// -----------

.top-bar ul.menu li {

    &.menu-text {
        color: $black;
        font-size: rem-calc(20);
        font-weight: normal;

        a {
            padding: 0;
            color: rgba(0, 0, 0, 0.9);
        }
    }

    a {
        color: rgba(0, 0, 0, 0.5);

        &:hover {
            color: rgba(0, 0, 0, 0.7);
        }
    }

    &.is-active a {
        color: rgba(0, 0, 0, 0.9);
    }
}

.top-bar ul.menu li a {
    padding: .82rem .5rem;
}

// These change the color of the drop-down caret but only when used in a top bar
.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: rgba(0, 0, 0, 0.5) transparent transparent;
}

.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a:hover::after {
    border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}

.top-bar .dropdown.menu > li.is-dropdown-submenu-parent.is-active > a::after {
    border-color: rgba(0, 0, 0, 0.9) transparent transparent;
}

// 56. Xy Grid
// -----------
