<div class="grid-container fs-footer">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            <p>
                <a href="https://github.com/justinmahar/foundswatch">GitHub</a>
            </p>
        </div>
        <div class="cell medium-6 text-right">
            <p>
                <a href="#top">Scroll to Top &uarr;</a>
            </p>
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            <p>
                Created by <a href="mailto:foundswatch@gmail.com">Justin Mahar</a>.
                <br>This project is licenced under the
                <a href="https://github.com/justinmahar/foundswatch/blob/master/LICENSE">MIT Licence</a>.
                <br> Built with
                <a href="http://foundation.zurb.com">Foundation</a>. Font pairings by
                <a href="https://www.reliablepsd.com/ultimate-google-font-pairings/">Lou Levit</a>. Inspired by
                <a href="http://www.bootswatch.com/">Bootswatch</a>.
            </p>
        </div>
    </div>
</div>