<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FoundSwatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="themes/buzz/foundation.css" />
    <link rel="icon" type="img/ico" href="assets/ico/favicon.ico">
    <script src=""></script>
</head>
<body>
    <img style="border-radius: 50%;" src="assets/img/foundswatch-256.png" alt="foundswatch logo">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
            <h1>Available Themes:</h1>
            <ul>
                {{#themes}}
                <li>{{.}}</li>    
                {{/themes}}
            </ul>
            </div>
        </div>
    </div>
</body>
</html>