<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Foundswatch: {{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{root}}/css/themes/{{dir}}/foundation.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{root}}/css/custom.css" />
    <link rel="icon" type="img/ico" href="{{root}}/assets/ico/favicon.ico">
    {{> analytics }}
</head>

<body>
    <a name="top"></a>
    <!-- Set up Off-canvas -->
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
                <!-- left off-canvas markup -->
            </div>
            <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
                <!-- right off-canvas markup -->
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                <!-- page content -->
            </div>
        </div>
    </div>

    <div> <!-- data-sticky-container -->
        <div class="top-bar" style="width:100%"> <!-- data-sticky data-options="marginTop:0;" -->
            <div class="grid-container" style="flex-grow:1;">
                <div class="grid-x">
                    <div class="top-bar-left">
                        <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
                            <li class="menu-text fs-brand">
                                <a href="{{root}}/">Foundswatch</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#0">Themes</a>
                                <ul class="submenu menu vertical" data-submenu>
                                    {{#themeViews}}
                                    <li>
                                        <a href="{{root}}/{{dir}}">{{name}}</a>
                                    </li>
                                    {{/themeViews}}
                                </ul>
                            </li>
                            <li>
                                <a href="{{root}}/help">Help</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#0">{{name}}</a>
                                <ul class="submenu menu vertical" data-submenu>
                                    <li>
                                        <a href="{{root}}/css/themes/{{dir}}/foundation.css">foundation.css</a>
                                    </li>
                                    <li>
                                        <a href="{{root}}/css/themes/{{dir}}/foundation.min.css">foundation.min.css</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="top-bar-right">
                        <ul class="dropdown menu">
                            <li class="menu-text">
                                <a href="https://foundation.zurb.com/">Built With Foundation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <h1 class="foundswatch">{{name}}</h1>
                <p class="lead">{{tagline}}</p>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- Top Bar -->
                <h2 class="foundswatch">Navigation Bars
                    <a href="#0" data-tooltip aria-haspopup="true" class="has-tip fs-doc secondary clear button"
                        data-disable-hover="false" title="Top Bar Documentation" target="_new">
                        <i class="fi-page"></i>
                    </a>
                    <a href="#0" data-tooltip aria-haspopup="true" class="has-tip fs-doc secondary clear button" data-disable-hover="false"
                        title="Title Bar Documentation" target="_new">
                        <i class="fi-page"></i>
                    </a>
                </h2>
                <div class="grid-y grid-margin-y">
                    <div class="cell">
                        <div class="zf-code-reveal">
                            <div class="top-bar">
                                <div class="top-bar-left">
                                    <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
                                        <li class="menu-text">Top Bar</li>
                                        <li>
                                            <a href="#0">Home</a>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#0">Products</a>
                                            <ul class="submenu menu vertical" data-submenu>
                                                <li>
                                                    <a href="#0">Product One</a>
                                                </li>
                                                <li>
                                                    <a href="#0">Product Two</a>
                                                </li>
                                                <li>
                                                    <a href="#0">Product Three</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#0">Blog</a>
                                        </li>
                                        <li>
                                            <a href="#0">About</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="top-bar-right">
                                    <ul class="menu">
                                        <li>
                                            <input type="search" placeholder="Search">
                                        </li>
                                        <li>
                                            <button type="button" class="button secondary">Search</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="zf-code-reveal">
                            <div class="title-bar">
                                <div class="title-bar-left">
                                    <button class="menu-icon" type="button"></button>
                                    <span class="title-bar-title">Title Bar</span>
                                </div>
                                <div class="title-bar-right">
                                    <button class="menu-icon" type="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- Controls -->
                <h2 class="foundswatch">Controls</h2>

                <h3 class="foundswatch">Buttons</h3>

                <div class="grid-x grid-margin-x">
                    <div class="cell small-7">

                        <div class="zf-code-reveal">
                            <a class="button primary" href="#0">Primary</a>
                            <a class="button secondary" href="#0">Secondary</a>
                            <a class="button success" href="#0">Success</a>
                            <a class="button warning" href="#0">Warning</a>
                            <a class="button alert" href="#0">Alert</a>
                        </div>
                        <div class="zf-code-reveal">
                            <button type="button" class="button primary" disabled>Primary</button>
                            <button type="button" class="button secondary" disabled>Secondary</button>
                            <button type="button" class="button success" disabled>Success</button>
                            <button type="button" class="button warning" disabled>Warning</button>
                            <button type="button" class="button alert" disabled>Alert</button>
                        </div>
                        <div class="zf-code-reveal">
                            <button class="hollow button" href="#0">Primary</button>
                            <button class="hollow button secondary" href="#0">Secondary</button>
                            <button class="hollow button success" href="#0">Success</button>
                            <button class="hollow button warning" href="#0">Warning</button>
                            <button class="hollow button alert" href="#0">Alert</button>
                        </div>
                        <div class="zf-code-reveal">
                            <button class="hollow button" href="#0" disabled>Primary</button>
                            <button class="hollow button secondary" href="#0" disabled>Secondary</button>
                            <button class="hollow button success" href="#0" disabled>Success</button>
                            <button class="hollow button warning" href="#0" disabled>Warning</button>
                            <button class="hollow button alert" href="#0" disabled>Alert</button>
                        </div>
                        <div class="zf-code-reveal">
                            <a class="clear button" href="#0">Primary</a>
                            <a class="clear button secondary" href="#0">Secondary</a>
                            <a class="clear button success" href="#0">Success</a>
                            <a class="clear button warning" href="#0">Warning</a>
                            <a class="clear button alert" href="#0">Alert</a>
                        </div>
                        <div class="zf-code-reveal">
                            <a class="clear button" href="#0" disabled>Primary</a>
                            <a class="clear button secondary" href="#0" disabled>Secondary</a>
                            <a class="clear button success" href="#0" disabled>Success</a>
                            <a class="clear button warning" href="#0" disabled>Warning</a>
                            <a class="clear button alert" href="#0" disabled>Alert</a>
                        </div>
                        <div class="zf-code-reveal">
                            <button class="dropdown button primary" data-toggle="example-dropdown-primary">Primary</button>
                            <div class="dropdown-pane" id="example-dropdown-primary" data-dropdown data-auto-focus="true">
                                Example form in a dropdown.
                                <form>
                                    <div class="grid-container">
                                        <div class="grid-x grid-margin-x">
                                            <div class="cell medium-6">
                                                <label>Name
                                                    <input type="text" placeholder="Last, first">
                                                </label>
                                            </div>
                                            <div class="cell medium-6">
                                                <label>State
                                                    <input type="text" placeholder="Two letters">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="dropdown button secondary" data-toggle="example-dropdown-secondary">Secondary</button>
                            <div class="dropdown-pane" id="example-dropdown-secondary" data-dropdown>
                                This is the dropdown pane content.
                            </div>
                            <button class="dropdown button success" data-toggle="example-dropdown-success">Success</button>
                            <div class="dropdown-pane top" id="example-dropdown-success" data-dropdown>
                                Success dropdown. This should appear above the button.
                            </div>
                            <button class="dropdown button warning" data-toggle="example-dropdown-warning">Warning</button>
                            <div class="dropdown-pane" id="example-dropdown-warning" data-dropdown>
                                Warning dropdown.
                            </div>
                            <button class="dropdown button alert" data-toggle="example-dropdown-alert">Alert</button>
                            <div class="dropdown-pane" id="example-dropdown-alert" data-dropdown>
                                Alert dropdown.
                            </div>
                        </div>
                        <div class="zf-code-reveal">
                            <div class="large button">Large</div>
                            <div class="button">Default</div>
                            <div class="small button">Small</div>
                            <div class="tiny button">Tiny</div>
                        </div>
                    </div>
                    <div class="cell small-5">
                        <div class="zf-code-reveal">
                            <a class="expanded large button" href="#0">Expanded Button</a>
                        </div>
                        <div class="zf-code-reveal">
                            <div class="large button-group">
                                <a class="button">Large</a>
                                <a class="button">Button</a>
                                <a class="button">Group</a>
                            </div>
                        </div>
                        <div class="zf-code-reveal">
                            <div class="button-group">
                                <a class="button">Default</a>
                                <a class="button">Button</a>
                                <a class="button">Group</a>
                            </div>
                        </div>
                        <div class="zf-code-reveal">
                            <div class="small button-group">
                                <a class="button">Small</a>
                                <a class="button">Button</a>
                                <a class="button">Group</a>
                            </div>
                        </div>
                        <div class="zf-code-reveal">
                            <div class="tiny button-group">
                                <a class="button">Tiny</a>
                                <a class="button">Button</a>
                                <a class="button">Group</a>
                            </div>
                        </div>
                        <div class="zf-code-reveal">
                            <div class="expanded button-group">
                                <a class="button">Expanded</a>
                                <a class="button">Button</a>
                                <a class="button">Group</a>
                            </div>
                        </div>
                        <div class="zf-code-reveal">
                            <!--REVEAL-CODE
                        <div class="grid-container">
                        REVEAL-CODE-->
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-3">
                                    <div class="stacked button-group">
                                        <a class="button">Stacked</a>
                                        <a class="button">Button</a>
                                        <a class="button">Group</a>
                                    </div>
                                </div>
                            </div>
                            <!--REVEAL-CODE
                        </div>
                        REVEAL-CODE-->
                        </div>
                    </div>
                </div>
                <h3 class="foundswatch">Toggles</h3>
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-7">
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-6">
                                <h4 class="foundswatch">Checkbox Switches
                                    <a href="#0" data-tooltip aria-haspopup="true" class="has-tip fs-doc secondary clear button"
                                        data-disable-hover="false" title="View Documentation" target="_new">
                                        <i class="fi-page"></i>
                                    </a>
                                </h4>
                                <div class="grid-x grid-margin-x">
                                    <div class="cell medium-6">
                                        <div class="zf-code-reveal">
                                            <div class="switch large">
                                                <input class="switch-input" id="largeSwitch" type="checkbox" checked name="exampleSwitch1">
                                                <label class="switch-paddle" for="largeSwitch">
                                                    <span class="show-for-sr">Large Switch</span>
                                                </label>
                                            </div>
                                            <div class="switch">
                                                <input class="switch-input" id="defaultSwitch" type="checkbox" name="exampleSwitch2">
                                                <label class="switch-paddle" for="defaultSwitch">
                                                    <span class="show-for-sr">Default Switch</span>
                                                </label>
                                            </div>

                                            <div class="switch small">
                                                <input class="switch-input" id="smallSwitch" type="checkbox" name="exampleSwitch3">
                                                <label class="switch-paddle" for="smallSwitch">
                                                    <span class="show-for-sr">Small Switch</span>
                                                </label>
                                            </div>

                                            <div class="switch tiny">
                                                <input class="switch-input" id="tinySwitch" type="checkbox" name="exampleSwitch4">
                                                <label class="switch-paddle" for="tinySwitch">
                                                    <span class="show-for-sr">Tiny Switch</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cell medium-6">
                                        <div class="zf-code-reveal">
                                            <div class="switch large">
                                                <input class="switch-input" id="on-off1" type="checkbox" checked name="exampleSwitch5">
                                                <label class="switch-paddle" for="on-off1">
                                                    <span class="show-for-sr">On/off switch</span>
                                                    <span class="switch-active" aria-hidden="true">On</span>
                                                    <span class="switch-inactive" aria-hidden="true">Off</span>
                                                </label>
                                            </div>

                                            <div class="switch large">
                                                <input class="switch-input" id="on-off2" type="checkbox" name="exampleSwitch6">
                                                <label class="switch-paddle" for="on-off2">
                                                    <span class="show-for-sr">On/off switch</span>
                                                    <span class="switch-active" aria-hidden="true">On</span>
                                                    <span class="switch-inactive" aria-hidden="true">Off</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell medium-6">
                                <h4 class="foundswatch">Radio Switches
                                    <a href="#0" data-tooltip aria-haspopup="true" class="has-tip fs-doc secondary clear button"
                                        data-disable-hover="false" title="View Documentation" target="_new">
                                        <i class="fi-page"></i>
                                    </a>
                                </h4>
                                <div class="zf-code-reveal">
                                    <div class="switch">
                                        <input class="switch-input" id="exampleRadioSwitch1" type="radio" checked name="testGroup">
                                        <label class="switch-paddle" for="exampleRadioSwitch1">
                                            <span class="show-for-sr">Option 1</span>
                                        </label>
                                    </div>
                                    <div class="switch">
                                        <input class="switch-input" id="exampleRadioSwitch2" type="radio" name="testGroup">
                                        <label class="switch-paddle" for="exampleRadioSwitch2">
                                            <span class="show-for-sr">Option 2</span>
                                        </label>
                                    </div>
                                    <div class="switch">
                                        <input class="switch-input" id="exampleRadioSwitch3" type="radio" name="testGroup">
                                        <label class="switch-paddle" for="exampleRadioSwitch3">
                                            <span class="show-for-sr">Option 3</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell small-5">
                        <h4 class="foundswatch">Sliders</h4>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-10">
                                <div class="zf-code-reveal">
                                    <div class="slider" data-slider data-initial-start="80" data-end="100">
                                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                        <input type="hidden">
                                    </div>
                                    <div class="slider" data-slider data-initial-start="20" data-initial-end="60">
                                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                                        <input type="hidden">
                                        <input type="hidden">
                                    </div>
                                    <div class="slider disabled" data-slider data-initial-start="10" data-end="100">
                                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                        <input type="hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="cell medium-2">
                                <div class="zf-code-reveal">
                                    <div class="slider vertical" data-slider data-initial-start="75" data-end="100" data-vertical="true">
                                        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                        <input type="hidden">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- Typography -->
                <h2 class="foundswatch">Typography</h2>
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-4">
                        <h3 class="foundswatch">Headings</h3>
                        <div class="zf-code-reveal">
                            <h1>Heading 1</h1>
                            <h2>Heading 2</h2>
                            <h3>Heading 3</h3>
                            <h4>Heading 4</h4>
                            <h5>Heading 5</h5>
                            <h6>Heading 6</h6>
                        </div>
                        <div class="zf-code-reveal">
                            <h3>Heading
                                <small>with small segment</small>
                            </h3>
                            <h4 class="subheader">Subheader text</h4>
                            <p class="lead">This is lead text.</p>
                        </div>
                    </div>
                    <div class="cell medium-4">
                        <h3 class="foundswatch">Paragraphs</h3>
                        <div class="zf-code-reveal">
                            <p>This is an example of a paragraph of text. Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Hic quasi expedita distinctio amet laboriosam rerum quaerat nulla. Unde porro nemo
                                sint mollitia in atque, corrupti aut, dignissimos molestiae reiciendis deleniti!</p>
                            <hr>
                        </div>
                        <div class="zf-code-reveal">
                            <p>The following text is
                                <strong>formatted as strong</strong>.</p>
                            <p>The following text is
                                <em>formatted as emphasized</em>.</p>
                            <p>The following text is
                                <a href="#0">a hyperlink</a>.</p>
                            <p>The following text is abbreviated:
                                <abbr title="Hypertext Markup Language">HTML</abbr>
                            </p>
                            <p>The following text has a tooltip:
                                <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" title="Cascading Style Sheets">CSS</span>
                            </p>
                        </div>
                    </div>
                    <div class="cell medium-4">
                        <h3 class="foundswatch">Lists</h3>
                        <h4 class="foundswatch">Unordered</h4>
                        <div class="zf-code-reveal">
                            <ul>
                                <li>List item</li>
                                <li>List item
                                    <ul>
                                        <li>Nested list item</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h4 class="foundswatch">Ordered</h4>
                        <div class="zf-code-reveal">
                            <ol>
                                <li>List item</li>
                                <li>List item
                                    <ol>
                                        <li>Nested list item</li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                        <h4 class="foundswatch">Definition</h4>
                        <div class="zf-code-reveal">
                            <dl>
                                <dt>First term</dt>
                                <dd>This is the description of the first term</dd>
                                <dt>Second term</dt>
                                <dd>This is the description of the second term</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-4">
                        <h3 class="foundswatch">Statistics</h3>
                        <div class="zf-code-reveal">
                            <p>The following is formatted as a statistic:</p>
                            <div class="stat">42</div>
                        </div>
                    </div>
                    <div class="cell medium-4">
                        <h3 class="foundswatch">Code</h3>
                        <div class="zf-code-reveal">
                            <p>The following is code:
                                <code>&lt;div&gt;</code>
                            </p>
                            <pre>
This is preformatted text.
</pre>
                        </div>
                    </div>
                    <div class="cell medium-4">
                        <h3 class="foundswatch">Keystrokes</h3>
                        <div class="zf-code-reveal">
                            <p>Press
                                <kbd>Cmd+C</kbd> (or
                                <kbd>Ctrl+C</kbd> on Windows) to copy text.</p>
                        </div>
                    </div>
                </div>
                <h3 class="foundswatch">Blockquotes</h3>
                <div class="zf-code-reveal">
                    <!--REVEAL-CODE
            <div class="grid-container">
                REVEAL-CODE-->
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-4">
                            <blockquote class="text-left">
                                &#8220;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nostrum deleniti magnam.&#8221;
                                <cite>Quotable Person from Somewhere</cite>
                            </blockquote>
                        </div>
                        <div class="cell medium-4">
                            <blockquote class="text-center">
                                &#8220;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nostrum deleniti magnam.&#8221;
                                <cite>Quotable Person from Somewhere</cite>
                            </blockquote>
                        </div>
                        <div class="cell medium-4">
                            <blockquote class="text-right">
                                &#8220;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio nostrum deleniti magnam.&#8221;
                                <cite>Quotable Person from Somewhere</cite>
                            </blockquote>
                        </div>
                    </div>
                    <!--REVEAL-CODE
            </div>
                REVEAL-CODE-->
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- Tables -->
                <h2 class="foundswatch">Tables</h2>
                <div class="zf-code-reveal">
                    <table>
                        <thead>
                            <tr>
                                <th width="210">Column Header 1</th>
                                <th>Column Header 2</th>
                                <th width="160">Column Header 3</th>
                                <th width="180">Column Header 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Row header</th>
                                <td>Long line of table data. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                <td>More table data</td>
                                <td>This is even more table data</td>
                            </tr>
                            <tr>
                                <th>Row header</th>
                                <td>Long line of table data. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                <td>More table data</td>
                                <td>This is even more table data</td>
                            </tr>
                            <tr>
                                <th>Row header</th>
                                <td>Long line of table data. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                                <td>More table data</td>
                                <td>This is even more table data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- Forms -->
                <h2 class="foundswatch">Forms</h2>
                <div class="zf-code-reveal">
                    <form>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-6">
                                <label>Text Input
                                    <input type="text" placeholder="Placeholder" aria-describedby="textInputExample">
                                </label>
                                <p class="help-text" id="textInputExample">Help text for how to use this input field</p>
                                <label>Disabled Text Input
                                    <input type="text" placeholder="Placeholder" disabled>
                                </label>
                                <label>
                                    Number Input
                                    <input type="number" value="123">
                                </label>
                                <label>Email Input
                                    <input type="email" placeholder="email@example.com">
                                </label>
                                <label for="exampleFileUpload" class="button">Upload File</label>
                                <input type="file" id="exampleFileUpload" class="show-for-sr">
                                <input type="submit" class="button" value="Submit">
                            </div>
                            <div class="cell medium-6">
                                <label>
                                    Text Area
                                    <textarea placeholder="Text area placeholder"></textarea>
                                </label>
                                <div class="grid-x grid-margin-x">
                                    <div class="cell small-3">
                                        <label for="middle-label" class="text-right middle">Label</label>
                                    </div>
                                    <div class="cell small-9">
                                        <input type="text" id="middle-label" placeholder="Right- and middle-aligned text input">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-label">$</span>
                                    <input class="input-group-field" type="url">
                                    <div class="input-group-button">
                                        <input type="submit" class="button" value="Submit">
                                    </div>
                                </div>
                                <label>
                                    Select Menu
                                    <select>
                                        <option value="item1">Item 1</option>
                                        <option value="item2">Item 2</option>
                                        <option value="item3">Item 3</option>
                                    </select>
                                </label>
                                <fieldset>
                                    <legend>Radio Buttons</legend>
                                    <input type="radio" name="radiofields" value="A" id="radiofieldsA" required>
                                    <label for="radiofieldsA">Option A</label>
                                    <input type="radio" name="radiofields" value="B" id="radiofieldsB">
                                    <label for="radiofieldsB">Option B</label>
                                    <input type="radio" name="radiofields" value="C" id="radiofieldsC">
                                    <label for="radiofieldsC">Option C</label>
                                </fieldset>
                                <fieldset>
                                    <legend>Checkboxes</legend>
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">Checkbox 1</label>
                                    <input id="checkbox2" type="checkbox">
                                    <label for="checkbox2">Checkbox 2</label>
                                    <input id="checkbox3" type="checkbox">
                                    <label for="checkbox3">Checkbox 3</label>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- Navigation -->
                <h2 class="foundswatch">Navigation</h2>
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Menu</h3>
                        <div class="zf-code-reveal">
                            <ul class="menu">
                                <li>
                                    <a href="#0">
                                        <i class="fi-list"></i>
                                        <span>One</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fi-list"></i>
                                        <span>Two</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fi-list"></i>
                                        <span>Three</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fi-list"></i>
                                        <span>Four</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Dropdown Menu</h3>
                        <div class="zf-code-reveal">
                            <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
                                <li>
                                    <a>Item 1</a>
                                    <ul class="menu">
                                        <li>
                                            <a href="#0">Item 1 with some text</a>
                                        </li>
                                        <li>
                                            <a href='#0'>Item 2</a>
                                            <ul class="menu">
                                                <li>
                                                    <a href='#0'>Item 2-1</a>
                                                </li>
                                                <li>
                                                    <a href='#0'>Item 2-2</a>
                                                </li>
                                                <li>
                                                    <a href='#0'>Item 2-3</a>
                                                    <ul class="menu">
                                                        <li>
                                                            <a href='#0'>Item 2-3-1</a>
                                                        </li>
                                                        <li>
                                                            <a href='#0'>Item 2-3-2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href='#0'> Item 2-4</a>
                                                    <ul class="menu">
                                                        <li>
                                                            <a href='#0'>Item 2-4-1</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#0">Item 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Item 2</a>
                                    <ul class="menu">
                                        <li>
                                            <a href="#0">Item 2-1</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 2-2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Item 3</a>
                                </li>
                                <li>
                                    <a href='#0'>Item 4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Tabs</h3>
                        <div class="zf-code-reveal">
                            <ul class="tabs" data-tabs id="example-tabs">
                                <li class="tabs-title is-active">
                                    <a href="#panel1" aria-selected="true">Tab 1</a>
                                </li>
                                <li class="tabs-title">
                                    <a href="#panel2">Tab 2</a>
                                </li>
                                <li class="tabs-title">
                                    <a href="#panel3">Tab 3</a>
                                </li>
                                <li class="tabs-title">
                                    <a href="#panel4">Tab 4</a>
                                </li>
                                <li class="tabs-title">
                                    <a href="#panel5">Tab 5</a>
                                </li>
                                <li class="tabs-title">
                                    <a href="#panel6">Tab 6</a>
                                </li>
                            </ul>

                            <div class="tabs-content" data-tabs-content="example-tabs">
                                <div class="tabs-panel is-active" id="panel1">
                                    <p>Panel one</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe illum accusamus consequuntur
                                        possimus voluptatibus? Veniam maxime nam aliquam est omnis provident animi minima
                                        ut! Atque provident veritatis delectus sed mollitia!</p>
                                    <p>Saepe illum accusamus consequuntur possimus voluptatibus? Lorem ipsum dolor sit amet,
                                        consectetur adipisicing elit. Veniam maxime nam aliquam est omnis provident animi
                                        minima ut! Atque provident veritatis delectus sed mollitia!</p>
                                    <p>Consectetur adipisicing elit, lorem ipsum dolor sit amet. Saepe illum accusamus consequuntur
                                        possimus voluptatibus?</p>
                                </div>
                                <div class="tabs-panel" id="panel2">
                                    <p>Panel two</p>
                                    <img class="thumbnail" src="https://placeimg.com/230/230/tech">
                                </div>
                                <div class="tabs-panel" id="panel3">
                                    <p>Panel three</p>
                                    <p>This is the text inside of panel three.</p>
                                </div>
                                <div class="tabs-panel" id="panel4">
                                    <p>Panel four</p>
                                    <img class="thumbnail" src="https://placeimg.com/1044/624/people">
                                </div>
                                <div class="tabs-panel" id="panel5">
                                    <p>Panel five</p>
                                    <p>This is the text inside of panel five.</p>
                                </div>
                                <div class="tabs-panel" id="panel6">
                                    <p>Six</p>
                                    <img class="thumbnail" src="https://placeimg.com/1044/590/nature">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Accordion Menu</h3>
                        <div class="zf-code-reveal">
                            <ul class="vertical menu" data-accordion-menu>
                                <li>
                                    <a href="#0">Item 1</a>
                                    <ul class="menu vertical nested is-active">
                                        <li>
                                            <a href="#0">Item 1-1</a>
                                            <ul class="menu vertical nested">
                                                <li>
                                                    <a href="#0">Item 1-1-1</a>
                                                </li>
                                                <li>
                                                    <a href="#0">Item 1-1-2</a>
                                                </li>
                                                <li>
                                                    <a href="#0">Item 1-1-3</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#0">Item 1-2</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 1-3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Item 2</a>
                                    <ul class="menu vertical nested">
                                        <li>
                                            <a href="#0">Item 2-1</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 2-2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Item 3</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="foundswatch">Drilldown Menu</h3>
                        <div class="zf-code-reveal">
                            <ul class="vertical menu" data-drilldown style="width: 200px" id="m1">
                                <li>
                                    <a href="#0">Item 1</a>
                                    <ul class="vertical menu" id="m2">
                                        <li>
                                            <a href="#0">Item 1-1</a>
                                            <ul class="vertical menu" id="m3">
                                                <li>
                                                    <a href="#0">Item 1-1-1</a>
                                                </li>
                                                <li>
                                                    <a href="#0">Item 1-1-2</a>
                                                </li>
                                                <li>
                                                    <a href="#0">Item 1-1-3</a>
                                                </li>
                                                <li>
                                                    <a href="#0">Item 1-1-4</a>
                                                </li>
                                                <li>
                                                    <a href="#0">Item 1-1-5</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#0">Item 1-2</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 1-3</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 1-4</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 1-5</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Item 2</a>
                                    <ul class="vertical menu">
                                        <li>
                                            <a href="#0">Item 2-1</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 2-2</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 2-3</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 2-4</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 2-5</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Item 3</a>
                                    <ul class="vertical menu">
                                        <li>
                                            <a href="#0">Item 3-1</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 3-2</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 3-3</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 3-4</a>
                                        </li>
                                        <li>
                                            <a href="#0">Item 3-5</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='#0'> Item 4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Breadcrumbs</h3>
                        <div class="zf-code-reveal">
                            <nav aria-label="You are here:" role="navigation">
                                <ul class="breadcrumbs">
                                    <li>
                                        <a href="#0">Home</a>
                                    </li>
                                    <li>
                                        <a href="#0">Subsection</a>
                                    </li>
                                    <li class="disabled">Disabled</li>
                                    <li>
                                        <span class="show-for-sr">Current: </span> Current
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Pagination</h3>
                        <div class="zf-code-reveal">
                            <ul class="pagination" role="navigation" aria-label="Pagination">
                                <li class="disabled">Previous
                                    <span class="show-for-sr">page</span>
                                </li>
                                <li class="current">
                                    <span class="show-for-sr">You're on page</span> 1</li>
                                <li>
                                    <a href="#0" aria-label="Page 2">2</a>
                                </li>
                                <li>
                                    <a href="#0" aria-label="Page 3">3</a>
                                </li>
                                <li>
                                    <a href="#0" aria-label="Page 4">4</a>
                                </li>
                                <li class="ellipsis" aria-hidden="true"></li>
                                <li>
                                    <a href="#0" aria-label="Page 12">12</a>
                                </li>
                                <li>
                                    <a href="#0" aria-label="Page 13">13</a>
                                </li>
                                <li>
                                    <a href="#0" aria-label="Next page">Next
                                        <span class="show-for-sr">page</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- Indicators -->
                <h2 class="foundswatch">Indicators</h2>

                <div class="grid-x grid-margin-x">
                    <div class="cell">
                        <h3 class="foundswatch">Callouts</h3>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-4">
                                <div class="zf-code-reveal">
                                    <div class="callout" data-closable>
                                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>This is a default callout</h5>
                                        <p>
                                            <strong>Hey!</strong> This is paragraph text inside the default callout.
                                            <a href="#0">Here's a link.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="cell medium-4">
                                <div class="zf-code-reveal">
                                    <div class="callout primary" data-closable>
                                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>This is a primary callout</h5>
                                        <p>
                                            <strong>Welcome!</strong> This is paragraph text inside the primary callout.
                                            <a href="#0">Here's a link.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="cell medium-4">
                                <div class="zf-code-reveal">
                                    <div class="callout secondary" data-closable>
                                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>This is a secondary callout</h5>
                                        <p>
                                            <strong>Did you know?</strong> This is paragraph text inside the secondary callout.
                                            <a href="#0">Here's a link.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-4">
                                <div class="zf-code-reveal">
                                    <div class="callout success" data-closable>
                                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>This is a success callout</h5>
                                        <p>
                                            <strong>Hooray!</strong> This is paragraph text inside the success callout.
                                            <a href="#0">Here's a link.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="cell medium-4">
                                <div class="zf-code-reveal">
                                    <div class="callout warning" data-closable>
                                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>This is a warning callout</h5>
                                        <p>
                                            <strong>Be careful!</strong> This is paragraph text inside the warning callout.
                                            <a href="#0">Here's a link.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="cell medium-4">
                                <div class="zf-code-reveal">
                                    <div class="callout alert" data-closable>
                                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>This is an alert callout</h5>
                                        <p>
                                            <strong>Whoops!</strong> This is paragraph text inside the alert callout.
                                            <a href="#0">Here's a link.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-8">
                                <div class="zf-code-reveal">
                                    <div class="large callout" data-closable>
                                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h3>This is a large callout</h3>
                                        <p class="lead">
                                            <strong>Super important!</strong> This is lead paragraph text inside the large callout.
                                            <a href="#0">Here's a link.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="cell medium-4">
                                <div class="zf-code-reveal">
                                    <div class="small callout" data-closable>
                                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>Small callout</h5>
                                        <p>
                                            <strong>Pssst!</strong> This is a small callout
                                            <a href="#0">with a link.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-x grid-margin-x">
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Labels</h3>
                        <div class="zf-code-reveal">
                            <span class="primary label">Primary</span>
                            <span class="secondary label">Secondary</span>
                            <span class="success label">Success</span>
                            <span class="warning label">Warning</span>
                            <span class="alert label">Alert</span>
                        </div>
                    </div>
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Badges</h3>
                        <div class="zf-code-reveal">
                            <span class="primary badge">1</span>
                            <span class="secondary badge">2</span>
                            <span class="success badge">S</span>
                            <span class="warning badge">W</span>
                            <span class="alert badge">A</span>
                        </div>
                    </div>
                </div>

                <h3 class="foundswatch">Progress Bars</h3>

                <h4 class="foundswatch">Without Text</h4>
                <div class="zf-code-reveal">
                    <div class="progress" role="progressbar" aria-valuenow="17" aria-valuetext="17 percent" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width: 17%"></div>
                    </div>
                    <div class="secondary progress" role="progressbar" aria-valuenow="33" aria-valuetext="33 percent" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width: 33%"></div>
                    </div>
                    <div class="success progress" role="progressbar" aria-valuenow="50" aria-valuetext="50 percent" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width: 50%"></div>
                    </div>
                    <div class="warning progress" role="progressbar" aria-valuenow="67" aria-valuetext="67 percent" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width: 67%"></div>
                    </div>
                    <div class="alert progress" role="progressbar" aria-valuenow="83" aria-valuetext="83 percent" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-meter" style="width: 83%"></div>
                    </div>
                </div>
                <h4 class="foundswatch">With Text</h4>
                <div class="zf-code-reveal">
                    <div class="progress" role="progressbar" aria-valuenow="17" aria-valuetext="17 percent" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-meter" style="width: 17%">
                            <p class="progress-meter-text">Loading...</p>
                        </span>
                    </div>
                    <div class="secondary progress" role="progressbar" aria-valuenow="33" aria-valuetext="33 percent" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-meter" style="width: 33%">
                            <p class="progress-meter-text">33%</p>
                        </span>
                    </div>
                    <div class="success progress" role="progressbar" aria-valuenow="50" aria-valuetext="50 percent" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-meter" style="width: 50%">
                            <p class="progress-meter-text">Progress: 50%</p>
                        </span>
                    </div>
                    <div class="warning progress" role="progressbar" aria-valuenow="67" aria-valuetext="67 percent" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-meter" style="width: 67%">
                            <p class="progress-meter-text">67% Complete</p>
                        </span>
                    </div>
                    <div class="alert progress" role="progressbar" aria-valuenow="83" aria-valuetext="83 percent" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-meter" style="width: 83%">
                            <p class="progress-meter-text">Almost done... (83%)</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <!-- Containers -->
                <h2 class="foundswatch">Containers</h2>
                <h3 class="foundswatch">Accordions</h3>

                <div class="zf-code-reveal">
                    <ul class="accordion" data-accordion>
                        <li class="accordion-item is-active" data-accordion-item>
                            <a href="#0" class="accordion-title">Accordion 1</a>
                            <div class="accordion-content" data-tab-content>
                                <p>These are the contents of the first accordion panel</p>
                                <a href="#0">This is a link inside the accordion panel</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#0" class="accordion-title">Accordion 2</a>
                            <div class="accordion-content" data-tab-content>
                                <textarea>Text area inside accordion</textarea>
                                <div class="button">Button</div>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#0" class="accordion-title">Accordion 3</a>
                            <div class="accordion-content" data-tab-content>
                                Text input inside accordion
                                <input type="text" placeholder="Placeholder"></input>
                            </div>
                        </li>
                    </ul>
                </div>

                <h3 class="foundswatch">Cards</h3>

                <div class="grid-x grid-margin-x small-up-2 medium-up-3">
                    <div class="cell">
                        <div class="zf-code-reveal">
                            <div class="card secondary">
                                <div class="card-divider">
                                    <h4>Heading text</h4>
                                </div>
                                <div class="card-section">
                                    <p>This is a basic card with some text and dividers.</p>
                                </div>
                                <div class="card-divider">
                                    <p>Divider text</p>
                                </div>
                                <div class="card-section">
                                    <p>This is the last section in the card.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="zf-code-reveal">
                            <div class="card">
                                <div class="card-divider">
                                    <h4>Heading text</h4>
                                </div>
                                <img src="https://placeimg.com/485/248/nature">
                                <div class="card-section">
                                    <p>This is a card with an image. Its heading is placed inside a divider.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="zf-code-reveal">
                            <div class="card">
                                <div class="card-section">
                                    <img src="https://placeimg.com/485/248/tech">
                                </div>
                                <div class="card-section">
                                    <p>This card's image is inside a card-section, giving it padding.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-x grid-margin-x">
                    <div class="cell medium-3">
                        <h3 class="foundswatch">Dropdown Panes</h3>

                        <div class="zf-code-reveal">
                            <button class="button" type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
                            <div class="dropdown-pane" id="example-dropdown" data-dropdown>
                                This is the dropdown pane content.
                            </div>
                        </div>

                        <h3 class="foundswatch">Modals</h3>
                        <div class="zf-code-reveal">
                            <p>
                                <a data-open="modalDialog" class="button">Reveal Modal</a>
                            </p>
                            <!--REVEAL-CODE
                            <div class="reveal" id="modalDialog" data-reveal>
                                <h1>Modal Dialog</h1>
                                <p class="lead">
                                    <strong>This is strong lead text.</strong> You should now see the modal.</p>
                                <p>This is a paragraph of text inside the modal dialog.</p>
                                <p>And
                                    <a href="#0">this is a link</a> inside the modal dialog.</p>
                                <div class="grid-container">
                                    <div class="grid-x grid-padding-x align-right">
                                        <div class="cell medium-4">
                                            <a class="button primary right" href="#0" data-close aria-label="Close reveal">OK</a>
                                            <a class="button secondary right" href="#0" data-close aria-label="Close reveal">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <button class="close-button" data-close aria-label="Close reveal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        REVEAL-CODE-->
                            <div class="reveal" id="modalDialog" data-reveal>
                                <h1>Modal Dialog</h1>
                                <p class="lead">
                                    <strong>This is strong lead text.</strong> You should now see the modal.</p>
                                <p>This is a paragraph of text inside the modal dialog.</p>
                                <p>And
                                    <a href="#0">this is a link</a> inside the modal dialog.</p>
                                <div class="grid-container">
                                    <div class="grid-x grid-padding-x align-right">
                                        <div class="cell medium-4">
                                            <a class="button primary right" href="#0" data-close aria-label="Close reveal">OK</a>
                                            <a class="button secondary right" href="#0" data-close aria-label="Close reveal">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <button class="close-button" data-close aria-label="Close reveal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="cell medium-3">
                        <h3 class="foundswatch">Thumbnails</h3>
                        <div class="zf-code-reveal">
                            <img class="thumbnail" style="cursor: pointer;" src="https://placeimg.com/200/200/animals" alt="Animal-related Photo" data-open="thumbModal">
                            <!--REVEAL-CODE
                            <div class="reveal" id="thumbModal" data-reveal>
                                <h2>Full Image</h2>
                                <img src="https://placeimg.com/800/600/animals" alt="Animal-related Photo">
                                <button class="close-button" data-close aria-label="Close reveal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            REVEAL-CODE-->
                            <div class="reveal" id="thumbModal" data-reveal>
                                <h2>Full Image</h2>
                                <img src="https://placeimg.com/800/600/animals" alt="Animal-related Photo">
                                <button class="close-button" data-close aria-label="Close reveal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="cell medium-6">
                        <h3 class="foundswatch">Media Objects</h3>
                        <div class="zf-code-reveal">
                            <div class="media-object">
                                <div class="media-object-section">
                                    <img src="https://placeimg.com/200/200/people">
                                </div>
                                <div class="media-object-section">
                                    <h4>What is a media object?</h4>
                                    <p>Media objects are handy components that display an item, which is usually an image, next
                                        to some content, which is usually some text. You can put lists, grids, and even other
                                        media objects inside of them.</p>
                                    <p>
                                        <a href="#0">This is a link inside the media object</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="foundswatch">Carousel (Orbit)</h3>
                <div class="zf-code-reveal">
                    <div class="orbit" role="region" aria-label="Orbit Container" data-orbit>
                        <ul class="orbit-container">
                            <button class="orbit-previous" aria-label="previous">
                                <span class="show-for-sr">Previous Slide</span>&#9664;</button>
                            <button class="orbit-next" aria-label="next">
                                <span class="show-for-sr">Next Slide</span>&#9654;</button>
                            <li class="is-active orbit-slide">
                                <figure class="orbit-figure">
                                    <div style="padding: 2rem 4rem 4rem 4rem; color: #fefefe; background: dodgerblue;">
                                        <p>
                                            <strong>This is dodgerblue.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <p></p>
                                    </div>
                                    <figcaption class="orbit-caption">This is the caption for slide one.</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div style="padding: 2rem 4rem 4rem 4rem; color: #fefefe; background: rebeccapurple;">
                                        <p>
                                            <strong>This is rebeccapurple.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <figcaption class="orbit-caption">This is the caption for slide two.</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div style="padding: 2rem 4rem 4rem 4rem; color: #fefefe; background: darkgoldenrod;">
                                        <p>
                                            <strong>This is darkgoldenrod.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <figcaption class="orbit-caption">This is the caption for slide three.</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div style="padding: 2rem 4rem 4rem 4rem; color: #fefefe; background: lightseagreen;">
                                        <p>
                                            <strong>This is lightseagreen.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
                                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                    <figcaption class="orbit-caption">This is the caption for slide four.</figcaption>
                                </figure>
                            </li>
                        </ul>
                        <nav class="orbit-bullets">
                            <button class="is-active" data-slide="0">
                                <span class="show-for-sr">First slide details.</span>
                                <span class="show-for-sr">Current Slide</span>
                            </button>
                            <button data-slide="1">
                                <span class="show-for-sr">Second slide details.</span>
                            </button>
                            <button data-slide="2">
                                <span class="show-for-sr">Third slide details.</span>
                            </button>
                            <button data-slide="3">
                                <span class="show-for-sr">Fourth slide details.</span>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}

    <!-- Close grid container -->
    <div class="reveal" id="codeRevealModal" data-reveal data-options="closeOnClick:false;">
        <h4 class="foundswatch">Source Code</h4>
        <pre id="codeRevealHtmlTarget" contenteditable="true" style="color: #f0f0f0; background-color: #1e1e1e; padding: 1rem; border-radius: .2rem;">
            No source code to show :(
        </pre>
        <button class="close-button" data-close aria-label="Close Source Code" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{{root}}/vendor/foundation/js/foundation.js"></script>

    <script src="{{root}}/vendor/foundation/js/plugins/foundation.core.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.box.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.imageLoader.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.keyboard.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.mediaQuery.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.motion.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.nest.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.timer.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.touch.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.util.triggers.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.abide.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.accordion.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.accordionMenu.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.drilldown.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.dropdown.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.dropdownMenu.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.equalizer.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.interchange.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.smoothScroll.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.magellan.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.offcanvas.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.orbit.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.responsiveMenu.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.responsiveToggle.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.reveal.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.slider.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.sticky.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.tabs.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.toggler.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.tooltip.js"></script>
    <script src="{{root}}/vendor/foundation/js/plugins/foundation.responsiveAccordionTabs.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script src="{{root}}/js/bundle.js"></script>
</body>

</html>