<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Foundswatch: {{name}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/themes/{{dir}}/foundation.css" />
    <link rel="icon" type="img/ico" href="../assets/ico/favicon.ico">
    <script src=""></script>
</head>
<body>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <img style="border-radius: 50%;" src="../assets/img/foundswatch-256.png" alt="foundswatch logo">
            </div>
            <div class="cell">
                <h1>{{name}}</h1>
                <h4>{{tagline}}</h4>
            </div>
            <div class="cell">
                <div class="button primary">Primary</div>
                <div class="button secondary">Secondary</div>
            </div>
            <div class="cell">
                <h1>Available Themes:</h1>
                <ul>
                    {{#themeViews}}
                    <li><a href="../{{dir}}">{{name}}</a> - {{tagline}}</li>    
                    {{/themeViews}}
                    <li><a href="../">Home</a></li>
                    <li><a href="../help">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>